################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Patterns/v16/.suo
/CloudPatterns/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
